<p id="notice"><%= notice %></p>

<h2>
  <%= @user.username %>
</h2>
<p>
  has made <%= pluralize(@user.ratings.count, 'rating')%>, average = <%= @user.average_rating %>
</p>
<h3>
  Ratings
</h3>

<ul>
    <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'Delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
    <% end %>
</ul>

<h3>
    Memberships
</h3>

<ul>
    <% @user.beerclubs.each do |beerclub| %>
      <li><%= link_to beerclub.name, beerclub %></li>
    <% end %>
</ul>

<% if current_user && current_user.id == @user.id %>
  <%= link_to 'Edit', edit_user_path(@user) %>
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
