<p id="notice"><%= notice %></p>

<h2>
  <%= @user.username %>
  <% if @user.blocked %>
    <span class="label label-info">account frozen</span>
  <% end %>
</h2>
<p>
  has made <%= pluralize(@user.ratings.count, 'rating')%>, average = <%= @user.average_rating %>
</p>
<h3>
  Ratings
</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Beer</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.ratings.each do |rating| %>
      <tr>
        <td><%= rating.beer.name %></td>
        <td><%= rating.score %></td>
        <td><%= link_to 'Destroy', rating, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" if current_user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @user.favorite_style %>
<p>
  Favorite style is <%= @user.favorite_style.name %>
</p>
<% end %>

<% if @user.favorite_brewery %>
<p>
  Favorite brewery is <%= @user.favorite_brewery.name %>
</p>
<% end %>

<% if @user.beerclubs.count > 0 %>
<h3>
  Memberships
</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Beerclub</th>
    </tr>
  </thead>

  <tbody>
    <% @user.beerclubs.each do |beerclub| %>
      <tr>
        <td><%= link_to beerclub.name, beerclub %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if current_user.admin && !@user.admin && !@user.blocked %>
  <%= link_to "freeze account", toggle_blocked_user_path(@user.id), method: :post, class: "btn btn-danger" %>
<% end %>

<% if current_user.admin && !@user.admin && @user.blocked %>
  <%= link_to "reactivate account", toggle_blocked_user_path(@user.id), method: :post, class: "btn btn-danger" %>
<% end %>

<% if current_user && current_user.id == @user.id %>
<%= link_to 'Edit', edit_user_path(@user), class:"btn btn-default" %>
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
<% end %>
