<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beerclub.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @beerclub.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beerclub.city %>
</p>

<h3>
  Members
</h3>
<ul>
    <% @beerclub.members.each do |member| %>
      <li><%= link_to member.username, member %></li>
    <% end %>
</ul>

<% if current_user and not @user_is_member %>
    <%= form_for(@membership) do |f| %>
      <%= f.hidden_field :beerclub_id, :value => @beerclub.id %>
      <%= f.submit value:"join the club" %>
    <% end %>
<% end %>

<% if current_user and @user_is_member %>
  <%= form_for(@membership, method: "delete") do |f| %>
    <%= f.hidden_field :beerclub_id %>
    <%= f.submit value: "end the membership" %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_beerclub_path(@beerclub) %> |
<%= link_to 'Back', beerclubs_path %>
